staging/
*.exe
*.o
*.obj
*.out
*.a
*.lib
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
*.aux
*.log
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Python
__pycache__/
*.pyc
.venv/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
